{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan' , sans-serif

}
h1{
    font-size: : 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: : 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: : 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color:#465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
    color: white;
}
.section-m1{
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight:600 ;
    padding: 15px 30px;
    color: black;
    background-color: white;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
body{
    width: 100%;
}
.logo {
    width: 50px; 
    height: auto; 
    margin-left: 0;
}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
        background-color : white;
        box-shadow: 0 5px 15px  rgba(0, 0, 0, 0);
        z-index: 999;
        position: sticky;
        top: 0;
        left: 0;
         
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after
#navbar li a.hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color:rgb;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-items: center;
}
#hero{
    background-image: url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/hero4.png?raw=true);
    height: 90vh;
    width:100%;
    background-size: cover ;
    background-position: top 25% right 10%;
    padding: 0 80px ;
    display: : flex;
    flex-direction: column;
    justify-content : center;
    align-items: flex-start;

}

#hero h4{
    padding-bottom: 105px;
   
}
#hero h1{
    color:#458f8d;
    
}
#hero button{
   background-image: url(button.png);
    background-color: transparent;
    color: #458f8d;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
    border: 1px solid #cce7d0;
    border-radius:4px ;
    margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);

}
#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 6px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4 ;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#product1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px; 
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 10%;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#banner{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image:url(https://www.1digitalagency.com/wp-content/uploads/2020/03/iStock-1093864794-scaled.jpg) ;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}
#banner h1{
    color: black;
    font-size: 35px;
}
#banner h2{
    color: black;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: red;
   
}
#banner button:hover{
    background: #fdafad;
    color: #fff;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#banner1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner1 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image:url(https://github.com/tech2etc/Build-and-Deploy-Ecommerce-Website/blob/main/img/banner/b7.jpg?raw=true) ;
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner1 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;

}
#banner1 h3{
    color: #a11813;
    font-weight: 800;
    font-size: 15px;

}
#banner1 .banner-box2{
    text-align: right;

    background-image: url(qikat.jpg);
}
#banner1 .banner-box3{
    background-image: url(fr.jpg);
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image:url(b14.png) ;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color:rgb(230, 148, 148);
}
#newsletter h4{
    font-size:22px ;
    font-weight: 700;
    color: black;

}
#newsletter p{
    font-size:14px ;
    font-weight: 600;
    color: white;
    
}
#newsletter p span{
    color: rgb(165, 24, 24);
}
#newsletter .form{
    display: flex;
    width: 40% ;


}
#newsletter input{
    height:3.125rem ;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;¨
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
#newsletter button{
    background-color: rgb(165, 24, 24);
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .logo{
    width: 50px; 
    height: auto; 
    margin-left: 0;
    margin-bottom: 30px;
}
footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px o;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin: 0 0 8px o;
    margin-bottom: 10px ;
}
footer .follow{
    color: #465b52 ;
    padding-right: 4px;
    cursor: pointer;

}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;

}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}
#page-header{
    background-image: url(b13.webp);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#page-header h2,
#page-header p{
    color: #fff;

}

#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;

}

#prodetails .single-pro-image {
    width: 40%;
    margin-right:50px;

}
.small-img-group {
    display: flex;
    justify-content: space-between;


}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}






*{
    margin : 0;
    padding :0;
    font family : 'Poppins' , sans-serif;
    box-sizing : border-box;
}

.container3{
    width : 100%;
    height: 100vh;
    background-image: linear-gradient( rgba(191, 140, 188, 0.5),rgba(191, 140, 188, 0.5)) , url("background.png");
    background-position: center;
    background-size: cover;
    position: relative;

}


.form-box{
    width: 90%;
    max-width: 450px;
    position: relative;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%);
    background: transparent;
    padding: 50px 60px 70px;
    text-align: center;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);

}

.form-box h1{
    font-size: 45px;
    margin-bottom: 60px;
    color: #088178;
    position: relative;
}

.form-box h1 ::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
background: #eaeaea; 
margin: 15px 0;
border-radius: 3px;
display: flex;
align-items: center;
max-height: 65px;
transition: max-height 0.5s;
overflow: hidden;

}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;

}
.input-field i{
    margin-left: 15px;
    color: #999;

}

form p{
    text-align: left;
    font-size: 13px;

}
form p a{

    text-decoration: none;
    color: #088178;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{
    flex-basis:48% ;
    background: #088178;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.input-group{
    height: 280px;
}
.btn-field button.disable{
    background: #eaeaea;
    color: #555;
}





.hero1{
    background-color: #f2d0bf;
    overflow: hidden;
}
.heading h1{
    color: #ff6347;
    font-size: 73px;
    text-align: center;
    margin-top: 40px;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 100px auto;
}
.hero-content12{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    animation: fadeInUp 2s ease;
}
.hero-content12 h2{
    font-size: 38px;
    margin-bottom: 40px;
    columns: #333;
}
.hero-content12 p{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #666;
}
.hero-content12 button{
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor:pointer;
    transition: 0.3s ease;
}
.hero-content12 button:hover{
    background-color: #ff6347;
    transform: scale(1.1);
}
.hero1-image{
    flex: 1;
    width: 800x;
    margin:auto;
    animation: fadeInRight 2s ease;

}
img{
    width:100% ;
    height: auto;
    border-radius: 10px;
}
@media screen and (max-width: 768px){
    .heading h1{
        font-size: 45px;
        margin-top: 30px;
    }
    .hero{
        margin: 0px;
    }
    .container{
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }
    .hero-content{
        width: 100%;
        margin: 35px 0px;
    }
    .hero-content h2{
        font-size: 30px;
        }
        .hero-content p{
            font-size: 18px;
            margin-bottom: 20px;
        }
        .hero-content button{
            font-size: 16px;
            padding: 8px 16px;
        }
        .hero-image{
            width: 100%;
        }
}
@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}





@media (max-width :799px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 4px 60px rgb(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
    }
    #navbar .active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
}
#mobile{
    display: flex;
    align-items: center;
}
#mobile i{
   color: #1a1a1a;
   font-size: 24px;
   padding-left: 20px;

}
